@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);


#msg-box4-1h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1h .mbr-article {
  color: #ffffff;
}
#msg-box4-1h .mbr-article P {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #32a5b6;
  text-align: center;
}
#contacts1-1i B {
  color: #ffffff;
}
#contacts1-1i P {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
#ext_menu-1j .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1j.mbr-navbar--stuck .mbr-navbar__section {
  background: #d01d3b;
}
#ext_menu-1j .mbr-navbar__hamburger {
  color: #d01d3b;
}




#msg-box1-1r .mbr-header .mbr-header__text {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-1r .mbr-article {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
#pricing-table1-1g H3 {
  color: #ffffff;
}
#pricing-table1-1g SPAN {
  color: #333333;
}
#pricing-table1-1g UL {
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
}
#contacts1-1e B {
  color: #ffffff;
}
#contacts1-1e P {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
#ext_menu-1f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1f.mbr-navbar--stuck .mbr-navbar__section {
  background: #d01d3b;
}
#ext_menu-1f .mbr-navbar__hamburger {
  color: #d01d3b;
}


#msg-box4-1c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1c .mbr-article {
  color: #ffffff;
}
#msg-box4-1c .mbr-article P {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  color: #32a5b6;
  text-align: center;
}
#contacts1-15 B {
  color: #ffffff;
}
#contacts1-15 P {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #d01d3b;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #d01d3b;
}


#header2-1s P {
  font-family: 'Ubuntu', sans-serif;
}
#contacts1-7 B {
  color: #ffffff;
}
#contacts1-7 P {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
#ext_menu-13 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #d01d3b;
}
#ext_menu-13 .mbr-navbar__hamburger {
  color: #d01d3b;
}
