@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);



#header2-2 .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header2-2 P {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
}
#contacts1-7 B {
  color: #ffffff;
}
#contacts1-7 P {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
#ext_menu-13 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #32a5b6;
}
#ext_menu-13 .mbr-navbar__hamburger {
  color: #d01d3b;
}



#header2-y .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header2-y P {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  text-align: left;
  color: #32a5b6;
}
#contacts1-10 B {
  color: #ffffff;
}
#contacts1-10 P {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
